body{
    perspective: 150px;
    overflow: hidden;
    background: black;
}

.content{
    text-align: center;
    color: #fbff00;
    transform: rotate(30deg);
    font-weight: bold;
    width: 600px;
    margin: 0 auto;
    transform: rotateX(30deg);
    animation: textAnimation 30s ease-in;
    animation-iteration-count: infinite;
}


@keyframes textAnimation {
    0% {
      transform: rotateX(30deg) translateY(400px);
    }
    100% {
      transform: rotateX(30deg) translateY(-300px);
    }
  }